<style>
        * {
            font-family: 'droid-sans', 'Oswald', sans-serif;
            font-weight: 400;
            font-style: normal;
        }
        #titulo {
            padding: 20px 100px 0 50px;
        }
        #titulo h1 {
            font-family: 'Oswald';
            color: orangered;
            text-align: center;
            font-size: 37px;    
            opacity: .8;  
        }
        #titulo b {
            font-family: 'Oswald';
            font-weight: bolder;
        }
        #titulo h3 {
            color: purple;
            font-style: italic;
            font-family: 'Lucida Calligraphy';
            text-align: center;
            font-size: 16px;
        }
        #search {
            border:solid 2px gray;
            border-radius:7px;
            width:300px;
            height:32px;
            margin: 40px 0 0 0;
        }
        #search img{
            float:left;
            width:27px;
            height:30px;
        }
        #pesquisa{
            float:left;
            background-color:transparent;
            padding-left:5px; 
            font-size:15px;
            border:none;
            height:32px;
            width:191px;
            opacity: .4;
        }
        #cabecalho {
            display: flex;
            padding: 0 0 0 40px;
            line-height: 0.3;        
        }
        #cabecalhodireita {
            display: flex;
            text-align: center;
            padding: 0px 50px 0px 60px;
        }
        #ship h3, h4 {
            color: orangered;
            font-style: italic;
        }
        #ship {
            padding: 20px 30px 0 30px;
        }
        #caldeirao {
            padding: 30px 25px 0 30px;
        }
        #bag {
            padding: 32px 30px 0 20px;
        }
        #banner {
            background-color: purple;
            display:flex;
            margin: 20px 0 0 0;
        }
        #options {
            display: flex;  
        }
        #options button {
            background-color: #6A0888;
            border-radius: 10%;
            padding: 15px 20px 15px 20px;
            margin: 7px 0 7px 0;
            color: white;
            font-style: italic;
            font-family: 'droid sans';
            font-size:18px;
            border:none;
        }
        #options ul {
            display: flex;
            padding: 0 30px 0 30px;
            list-style-type: none;
        }
        #options li {
            padding: 6px 30px 0 50px;
            color: white;
            text-decoration: none;
            font-style: italic;
        }
        #options li a {
            text-decoration: none;
            color: white;
            font-style: italic;
        }
        #sign {
            padding: 20px 0 0 180px;        
        }
        #sign a {
            text-decoration: none;
            color: white;
            font-style: italic;
            padding: 10px 15px 0 15px;
        }
        #sign label {
            color:#BDBDBD;
        }
        #titulo1 p {
            font-weight: bolder;
            margin: 40px 0 20px 50px;
            font-size: 28px;
        }
        #produtos img {
            height: 300px;
            width: 300px;
            padding: 0 20px 0 20px;
        }
        #produtos1 {
            display: flex;
            justify-content: center;
            margin: 10px 70px 10px 70px;
        }
        #produtos1 span {
            margin: 0 0 0 90px;
            font-family: 'droid sans';
            font-size: 17px;
            font-weight: bolder;
            opacity: .8;
        }
        #produtos2 {
            display: flex;
            justify-content: center;
            margin: 10px 70px 10px 70px;
        }
        #produtos2 span {
            margin: 0 0 0 85px;
            font-family: 'droid sans';
            font-size: 17px;
            font-weight: bolder;
            opacity: .8;
        }
        #footer {
            background-color: #E6E6E6;
            margin: 0 30px 0 30px;
            padding: 20px 0 20px 0;
            display: flex;
        }
        #company ul {
            display: flex;
            list-style-type: none;
        }
        #company li {
            padding: 0 25px 0 25px;
            }
        #company li a{
            text-decoration: none;
            color: red;
            font-family: 'verdana';
            font-size: 18px;
            opacity: .8;
            }
        #redessociais {
            margin: 0 0 0 50px;
            }
        #redessociais img {
            margin: 20px 20px 20px 20px;
            }
        #ass {
            margin:15px 20px 15px 100px;
            color: gray;
            }
        #signfoot {
            background-color: white;
            padding: 20px 30px 20px 30px;
            margin: 10px 0 50px 200px;
            border-radius: 7px;
            }
        #signfoot input {
            border:solid 2px ;
            border-color: black;
            border-radius:7px;
            width:250px;
            height:30px;
        }    
        #email {
            background-color:transparent;
            padding-left:5px; 
            font-size:15px;
            border:none;
            height:32px;
            width:191px;
            opacity: .4;
        }
        #submit {
            background-color: red;
            color: white;
            border-radius: 7px;
            border:none;
            font-size:14px;
            height:35px;
            width:100px;
            opacity: .8;
            font-family: 'verdana';
        }
        .p1 {
             font-style: italic;
        }
        .p2 {
            opacity: .9;
        }
        </style>